#scarlet-woman-opener {
    font-size: 15px;
    position: fixed; /* Positions the button relative to the browser window */
    right: 0;        /* Aligns the button to the right edge */
    top: 50%;        /* Starts the top edge of the button at 50% down the window */
    transform: translateY(-50%); /* Moves the button up by half of its own height to ensure true vertical centering */
    /* Optional styling */
    padding: 5px 0px;
    background-color: #e50c0c;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 1000; /* Ensures the button is above other content */
    writing-mode: vertical-rl;
    text-orientation: sideways;
    opacity: 1;
    transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
}

#scarlet-woman-opener.hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in, visibility 0.5s ease-in;
    /* Prevents the element from blocking interactions while invisible */
    visibility: hidden;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    left: 0;        /* Aligns the button to the left edge */
    top: 50%;
    font-size: 60px;
    z-index: 1001;
    cursor: pointer;
    color: white;
    transform: translateY(-50%);
}

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
#scarlet-woman iframe {
    display: block; /* Iframes are inline by default */
    height: 100vh; /* Set height to 100% of the viewport height */
    width: 100vw; /* Set width to 100% of the viewport width */
    border: none; /* Remove the default iframe border */
    position: fixed; /* Optional: Fixes the iframe to the viewport top-left corner */
    top: 0;
    left: 0;
}